<div class="flight-search-container">
  <div class="selection-tabs">
    <ul class="tabs-component">
      <li class="tabs" [ngClass]="{'active':!returnTrip}">
        
        <a href="#" (click)="returnTrip=false">
          <i class="fa fa-arrow-right custom-arrow"></i>&nbsp;&nbsp;One Way</a>
      </li>
      <li class="tabs" [ngClass]="{'active':returnTrip}">
        <a href="#" (click)="returnTrip=true">
          <i class="fa fa-exchange custom-arrow"></i>&nbsp;&nbsp;Return</a>
      </li>
    </ul>
  </div>
  <div class="flight-search-form form-group">
    <form name="flightFilterForm">
      <div class="form-field">
        <ng-select appendTo="body" [items]="cities" bindLabel="city" placeholder="Source" (change)="selectSource($event)">
        </ng-select>
      </div>

      <div class="form-field">
        <ng-select [items]="cities"  appendTo="body" bindLabel="city" placeholder="Destination" (change)="selectDestination($event)">
        </ng-select>
      </div>
      <div class="form-field">
        <custom-datepicker [datePickerOptions]="departureDateOptions"></custom-datepicker>
      </div>

      <div class="form-field" *ngIf="returnTrip">
        <custom-datepicker [datePickerOptions]="returnDateOptions"></custom-datepicker>
      </div>

      <div class="form-field">
        <ng-select [items]="passengers" bindLabel="count" placeholder="Passengers" (change)="selectPassengers($event)">
        </ng-select>
      </div>

      <div class="form-field">
        <button [disabled]="!searchCriteria.source.city || !searchCriteria.destination.city"
         [ngClass]="{'disabled':(!searchCriteria.source.city || !searchCriteria.destination.city)}" class="selectFlight" (click)="searchFlights()">Search
          <i class="fa fa-fighter-jet custom-arrow"></i>&nbsp;</button>
      </div>
    </form>
  </div>
</div>