@import"../../variable.scss";

.flight-search-form{
    .custom-arrow{
        font-size: 20px;
    }
}
.flight-search-container{
    float: left;
    width: 100%;
}
.selection-tabs{
    float: left;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding: 8px 0 0 15px;
    .tabs-component{
        padding-left: 0;
        margin: 0;
        list-style: none;
        float: left;
    
        li{
            display: inline-block;
            margin-right: 5px;
            cursor: pointer;
            a{
                padding: 8px 15px;
                float: left;
                line-height: 1rem;
                text-decoration:none;
                color: #555;
                cursor: default;
                background-color: #fff;
                border: 1px solid #ddd;
                border-radius: 5px;
                transition:.2s linear all;  
                cursor: pointer;
                &:hover{
                    background-color: #eee;
                    color:$themeColor;
                }
            }
            &.active a{
                background-color: $themeColor;
                color:$secondaryFontColor;
            }

        }
    }
   
}
.flight-search-form{
    float: left;
    padding: 15px;
    width: 100%;

    .selectFlight{
        background-color: $btnColor;
        border: 0;
        padding: 10px 15px;
        font-weight: bold;
        border-radius: 5px;
        color:$secondaryFontColor;
        cursor: pointer;
        &.disabled{
            cursor: not-allowed;
            opacity: .5;
        }
    }
}

@media screen and (max-width: 600px) {
    
    .app-container .flight-selection{
        width:100%;
    }
  }