@import"../../variable.scss";

    .travel-route-map{
        float: left;
        width: 100%;
        height: 60px;
        padding: 10px 25px;
        border-bottom: 1px solid #f1f3f5;
        background: #fff;
        margin-bottom: 15px;
        border-radius: 5px;
        .travel-date{
            float: left;
            position: relative;
            height: 100%;
        .date{
            font-size: 10px;
            display: block;
            &.originDate{
                margin-top: -4px;
            }
            &.returnDate{
                margin-top: 15px;
            }
        }
          
        .custom-arrow{
            position: absolute;
            &.fa-exchange{
                left: 8px;
                font-size: 1.2rem;
                top: 8px;
            }
            &.fa-long-arrow-right{
                font-size: 30px;
                top: 5px;
                left: 8px;
            }
        }
    }
       .origin-flight,.destination-flight{
           float: left;
           margin: 0;
           .date{
               font-size: 10px;
               display: block;
           }
       }
        .custom-arrow{
            font-size: 20px;
        }
        .route{
            float: left;
            width:40%;
            font-size: 20px;
            font-weight: bold;
        }
        .passenger{
            float: left;
            width: 30%;
            height: 100%;
            font-size: 25px;
            .fa-user{
                padding-right: 10px;
            }
            .fa-times{
                font-size: 20px;
            }
        }
        .fare-book{
            float: left;
            height: 100%;
            width: 30%;
            position: relative;
            padding-top: 10px;
            .flight-fare{
                font-size: 1rem;
                font-weight: 550;
                text-align: right;
            }
            .book-flight-btn{
                position: absolute;
                background-color: $btnColor;
                border: 0;
                padding: 7px;
                border-radius: 5px;
                color:$secondaryFontColor;
                bottom: 5px;
                right: 5px;
                cursor: pointer;
            }
        }
        .date-info{
            float: left;
            width: 20%;
            p{
                margin: 0;
                font-size: 10px;
                margin-bottom: 3px;
                text-align: right;
            }
        }
    }
    .flight-result-container{
        padding: 15px;
        float: left;
        width: 100%;
    .result-container{
        float: left;
        
        &.fullWidth{
            width: 100%;
        }
        &.departureFlight{
            margin-right: 1%;
        }
        &.returnFlight{
            margin-left: 1%;
        }
        &.halfWidth{
            width: 50%;
            &.departure-flight-container{
                padding-right: 7px;
                border-right:1px solid #ddd;
            }
            &.return-flight-container{
                padding-left: 8px;
            }
        }
    }
    .flight-result{
        float: left;
        width: 100%;
        padding: 10px 15px;
        height: 80px;
        //border: 1px solid $themeColor;
        background: #fff;
        border-radius: 5px;
        transition: .2s linear all;
        margin-bottom:15px;
        position: relative;
        cursor: pointer;
        &.active{
            background: $themeColor;
            color:$secondaryFontColor;
            box-shadow:1px 1px 20px -1px $themeColor;
        }
       
        &:hover{
            box-shadow:1px 1px 20px -1px $themeColor;
        }
        .flight-info{
            float: left;
            width: 75%;
            span{
                display: block;  
            }
            
            .flight-route-time{
                font-weight: bold;
                .custom-arrow{
                    font-size: 40px;
                    float: left;
                }
            }
        }       
    }
    .flight-from,.flight-to{
        float: left;
        width:100%;
        padding:0 15px;
    }
    .depart,.arrival{
        float: left;
        width: 35%;
        font-size: 20px;
        text-align: center;
    }  
    }
    .ticket-selection{
        width: 100%;
        background: #fff;
        height: 80px;
        border-radius: 5px;
    }
    .flight-fare-info{
        float: left;
        width:100%;
        background: #fff;
        padding: 20px;
        border-radius: 5px;
        color:$secondaryFontColor;
    }

    .no-flights{
        width: 100%;
        float: left;
        padding: 50px;
        text-align: center;
        font-size: 2rem;
        opacity: .5;
    } 

    @media screen and (max-width: 600px) {
        .travel-route-map {
            height: 85px;
            .route{
                width:100%;
            
            }
            .passenger{
                width:70%;
                height: 40px;
            }
            .fare-book{
                height: 100%;
                max-height: 40px;
            }
        }
        
    }
    