<ng-container>
  <div class="no-flights" *ngIf="!flightsAvailable">
    <p>Oops No Flights Available!!!!</p> 
    <p>Please check for some other dates!!</p>
  </div>
</ng-container>
<ng-container *ngIf="flightFilter && flightFilter.trip&& flightsAvailable">
  <div class="flight-result-container">
    <div class="travel-route-map ">
      <div class="route">
        <p class="origin-flight">
          <span class="city">{{flightFilter.source.city}}&nbsp;&nbsp;&nbsp;</span>
        </p>
        <div class="travel-date">
          <span class="originDate date">{{flightFilter.departureDate}}</span>
          <i *ngIf="isReturnFlight " class="fa fa-exchange custom-arrow "></i>
          <i class="fa fa-long-arrow-right custom-arrow " *ngIf="flightFilter.trip==='single' "></i>
          <i class="fa fa-exchange custom-arrow " *ngIf="flightFilter.trip==='double' "></i>
          <span class="returnDate date" *ngIf="flightFilter.returnDate">{{flightFilter.returnDate}}</span>
        </div>
        <p class="destination-flight">
          <span class="city">&nbsp;&nbsp;&nbsp;{{flightFilter.destination.city}}</span>
        </p>
      </div>
      <div class="passenger">
        <ng-container *ngIf="((selectedFlight.dFprice+selectedFlight.rFprice)*flightFilter.passenger)>0">
          <i class="fa fa-user"></i>
          <i class="fa fa-times"></i>
          <span>&nbsp;&nbsp;{{flightFilter.passenger}}&nbsp;&nbsp;=&nbsp;&nbsp;</span>
          <span class="flight-fare">
            <span class="currency">{{selectedFlight.currency}}&nbsp;&nbsp; </span>
            <span class="currency">{{(selectedFlight.dFprice+selectedFlight.rFprice)*flightFilter.passenger}} </span>
          </span>
        </ng-container>
      </div>
      <div class="fare-book">
        <button [disabled]="((selectedFlight.dFprice+selectedFlight.rFprice)*flightFilter.passenger)<=0" [ngClass]="{'disabled':(((selectedFlight.dFprice+selectedFlight.rFprice)*flightFilter.passenger)<=0)}"
          class="book-flight-btn" title="Book Flight">Book
          <i class="fa fa-fighter-jet custom-arrow"></i>&nbsp;</button>
      </div>
    </div>
    <div class="result-container departure-flight-container" [ngClass]="{fullWidth:flightFilter.trip==='single' ,halfWidth:flightFilter.trip!=='single'}">
      <div class="flight-result departureFlight " [ngClass]="{'active':item.selected} " *ngFor="let item of flightList.departureFlightInfo;let i=index"
        (click)="selectDepartureFlight(item,flightList.departureFlightInfo,i);">
        <flight-info [flight]='item' [returnTrip]="(flightFilter.trip==='single')"></flight-info>
      </div>
    </div>
    <div class="result-container return-flight-container" [ngClass]="{fullWidth:flightFilter.trip==='single' ,halfWidth:flightFilter.trip!=='single'}">
      <div class="flight-result returnFlight" [ngClass]="{'active':item.selected} " *ngFor="let item of flightList.returnFlightInfo;let i=index "
        [ngClass]="{'active':item.selected}">
        <flight-info [flight]='item' [returnTrip]="(flightFilter.trip==='single')" (click)="selectReturnFlight(item,flightList.returnFlightInfo,i) "></flight-info>
      </div>
    </div>
  </div>
</ng-container>