@import"../../../variable.scss";
.ngx-datepicker-container .ngx-datepicker-input{
    width: 100% !important;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ccc !important;
    min-height: 36px;
    align-items: center;
    color:#ccc;
}

.ngx-datepicker-calendar-container{
z-index: 9997;
.day-unit{
    width: calc(100% / 8.5) !important;
    height: 30px !important;
    &:hover,&.is-selected {
        background: $btnColor !important;
        color:$secondaryFontColor !important;
    }
}
}