<div class="app-container">
  <header>
    <h1>Flight Search Engine</h1>
  </header>
  <div class="app-main">
    <div class="flight-selection">
      <div class="hide-desktop tab-header open" (click)="toggleTab()">
        <label>Search Flight <i class="fa fa-angle-down"></i></label>
      </div>
      <div class="flight-search-wrapper tab-content open clearfix">
        <flight-search></flight-search>
      </div>
      <div class="hide-desktop tab-header open" (click)="toggleTab()">
        <label>Price Filter <i class="fa fa-angle-down"></i></label>
        
      </div>
      <div class="flight-price-filter-wrapper tab-content open">
        <custom-rangeslider [sliderOptions]="priceFilterOptions" (onSlideComplete)="priceFilterChanged($event)"></custom-rangeslider>
      </div>
    </div>
    <div class="flight-result-wrapper">
      <flight-result></flight-result>
    </div>
  </div>
</div>