.app-container{
    .app-main{
        padding-top:4.3rem;
        float: left;
        width: 100%;
    }
    .flight-selection{
        width:30%;
        float: left;
        //border-right: 1px solid #f1f3f5;

        .flight-search-wrapper{
            width: 100%;
            float: left;
            border-bottom: 1px solid #ddd;
            margin-bottom: 15px;
        }
        .flight-price-filter-wrapper{
            width: 100%;
            float: left;
            
            padding: 15px;
        }
    }
    

    .flight-result-wrapper{
        width: 70%;
        float: left;
    }
}
@media screen and (max-width: 600px) {
    .tab-header{
        float: left;
        width: 100%;
        height: 40px;
        background: #fff;
        margin-top: 15px;
        font-weight: bold;
        padding: 10px;
        label,i{
            pointer-events: none;
            
        }
        &.close{
            i{
                float: right;
                font-size: 20px;
                font-weight: bold;
            
                &.fa-angle-down{
                    transform: rotate(270deg);
                    transition: transform .3s linear;
                }
            }
            
        
        }
        &.open{
            i{
                float: right;
                font-size: 20px;
                font-weight: bold;
                &.fa-angle-down{
                    transform: rotate(360deg);
                    transition: transform .3s linear;
                }
            }
            
        }
    }
   
    .tab-content{
        float: left;
        width: 100%;
        overflow-x: hidden;
        transition: .2s linear all;
        transition: max-height 0.2s ease-out;
        &.close{
            max-height: 0;
        }
        &.open{
            max-height:400px;
        }
    }
    
    .app-container {
        .flight-selection{
            width:100%;
            .flight-search-wrapper{
                margin: 0;
            }
            .close.flight-price-filter-wrapper{
                padding: 0;
            }
        }

        .flight-result-wrapper{
            width: 100%;
            float: left;
        }
    }
  

  }


