/* You can add global styles to this file, and also import other style files */
@import"../node_modules/font-awesome/css/font-awesome.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import"../node_modules/ion-rangeslider/css/ion.rangeSlider.css";
@import "../node_modules/ion-rangeslider/css/ion.rangeSlider.skinFlat.css";
@import "./variable.scss";
*, ::after, ::before {
    box-sizing: border-box;
}

body {
    display: block;
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    color:$primaryFontColor;
    text-align: left;
    background-color:$bodyBg;    
}

header{
    background-color: $themeColor;
    position:fixed;
    top:0;
    width:100%;
    padding: 10px;
    color:$secondaryFontColor;
    z-index: 99999;
    h1{
        margin:0;
        font-weight: normal;
    }
}

.form-field{
    color: $primaryFontColor;
    cursor: default;
    outline: 0;
    width: 100%;
    min-height:35px;
    margin-bottom:10px;
}
.disabled{
    cursor: not-allowed;
    opacity: .5;
}
.hide{
    display: none;
}
.hide-desktop{
    display: none;
}


@media screen and (max-width: 600px) {
    
    .hide-desktop{
        display: block;
    }
    .hide-mobile{
        display: none;
  }
}