@import"../../../variable.scss";
.flight-info{
    float: left;
    width: 75%;
    span{
        display: block;  
    }
    
    .flight-route-time{
        font-weight: bold;
        .custom-arrow{
            font-size: 40px;
            float: left;
        }
    }
    .depart,.arrival{
        float: left;
        width: 35%;
        font-size: 1rem;
        text-align: center;
    }
    .book-flight{
        position: relative;
        float: left;
        width: 15%; 
        .company-logo{
            width:100%;
            height:60px;
            float: left;
            img{
                max-width: 100%;
                max-height:100%;
                height: auto;
                float: right;
                display:block;
            }
            
        }
        
    }

}

.fare-book{
    float: left;
    height: 100%;
    width: 25%;
    position: relative;
    padding-top: 10px;
    .flight-fare{
        font-size: 1rem;
        font-weight: 550;
        text-align: right;
    }
    .book-flight-btn{
        position: absolute;
        background-color: $btnColor;
        border: 0;
        padding: 7px;
        border-radius: 5px;
        color:$secondaryFontColor;
        bottom: 5px;
        right: 5px;
        cursor: pointer;
    }
}
@media screen and (max-width: 600px) {
    .flight-result-container .flight-result{
        height: 60px;
    .flight-info{
        width: 75%;
        .flight-route-time .custom-arrow{
            font-size: 1.5rem;
        }
        .depart,.arrival{
            width: 44%;
            font-size: .8rem;
        }
    }
      }
      .flight-fare{
          font-size: 1rem;
      }

    }
      