<div class="flight-info-container">
  <div class="flight-info">
    <div class="flight-from">
      <div class="book-flight">
        <div class="company-logo hide-mobile">
          <img src="../../assets/img/{{flight.companyCode+'.png'}}" alt="{{flight.company}}" title="{{flight.company}}">
        </div>
      </div>
      <div class="flight-route-time">
        <div class="depart">
          <span class="flight-route">{{flight.source}}</span>
          <span class="flight-depart">10:00 AM</span>
        </div>
        <i class="fa fa-long-arrow-right custom-arrow"></i>
        <div class="arrival">
          <span>{{flight.destination}}</span>
          <span class="flight-arrival">11:30 AM</span>
        </div>
      </div>
    </div>
  </div>
  <div class="fare-book">
    <span class="flight-fare">
      <span class="currency">
        {{flight.currency}} {{flight.price}}</span>
    </span>
  </div> 
</div>